body {
    font-size: 1rem;
    line-height: 1.5;
}

header, main, footer {
    padding: 10px;
    margin: auto;
}

header {
    margin-top: 1.2em;
    padding-top: 25px;
    padding-bottom: 5px;
}

footer {
    margin-bottom: 1.2em;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer div {
    color: darkgoldenrod;
}

header, footer {
    background-color: #273c3d;
    color: white;
    text-align: center;
    font-family: 'Droid Serif';
}

h1 {
    font-size: 1.5rem;  
}

h2 {
    font-size: 1rem;
    color: #273c3d;
}

li {
    font-size: .85rem;
}

main {
    background-color: lightgray;
    font-family: 'Catamaran', sans-serif;
    font-size: 120%;
}

main ul li a, footer a {
    font-weight: bold;
    text-decoration: none;
}

main a:link, main a:visited {
    color: #273c3d;
}

footer a:link, footer a:visited{
    color: white;
}

main a:hover, footer a:hover {
    color:darkgoldenrod;
}

div img {
    float: center;
    max-height: 200px;
}
