html {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    align-content: center;
    justify-content: center;
}

header section h1 {
    margin: 0 auto;
    color: #f8e323;
    text-shadow: 2px 2px 1px rgb(65, 64, 64);
}

header section div {
    font-family: 'EB Garamond', serif;
}

header picture img {
    max-width: 45%;
    margin-right: -25px;
    margin-top: 0px;
    justify-content: center;
    box-shadow: 0px 6px 15px #ccc;
}

.titlePage {
    text-align: center;
}

footer, header {
    background-color: #369ece;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: .8rem;
    font-family: 'Catamaran', sans-serif;
}

nav button {
    margin:.2rem 2%;
    background-color: transparent;
    border: none;
    font-size: .8rem;
    color: #fff;
}

button span {
    font-size: 1.3rem;
    padding: 50px auto;
    text-align: center;
    justify-content: center;
}

nav {
    background-color: #DF1001;
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: .8rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: rgba(255,255,255,0.8);
    border-top: 1px solid rgba(0,0,0,0.3);
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

nav ul li a:hover, nav button:hover {
    background-color: rgba(0,0,0,0.4);
}

nav ul.hide {
    display: none;
}

main h1 {
    font-family: 'EB Garamond', serif;
    color:  #DF1001;
    text-shadow: 2px 2px 2px #ccc;
}

main section {
    background-color: #c0c0c0;
    padding: 3px;
    padding-left: 10px;
    border: 1px dashed #DF1001;
    margin-bottom: 10px;
    font-style: italic;
    font-size: .7rem;
    font-family: 'Catamaran', sans-serif;
}

main, footer {
    font-size: .8rem;
}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
