/******************* Body **********************/
body { margin: 0;}

#banner { 
    text-align: center;
    font-weight: bold;
    padding: 15px 0;
    background-color: rgba(238, 241, 77, 0.3);
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.461);
    font-family: 'EB Garamond', serif;
}

/******************* header **********************/
header { 
    padding: 1rem 2%;
    background-image: linear-gradient(to right,#06366d ,#98df95 );
}
header h2 {margin: 0; font-weight: normal;}

.logo img {
   filter: drop-shadow(0 0 3px #000);
   float: left;
   margin: 0 2% 0 0;
}
header h1.title {
    margin: 0;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    font-family:'Merriweather Sans';
}
.subTitle {
    color: rgba(0,0,0,0.8);
    font-style: italic;
    font-size: 1rem;
    font-weight: bold;
}


/***************** Navigation **********************/

nav {
    background-color: #176bca;
    display: block;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li { border-top: 2px rgb(0, 0, 0); }

.hide li { display: none; }

nav ul li a, nav ul li:first-child  {
    text-decoration: none;
    color: #fff;
    font-family: 'Catamaran', sans-serif;
    font-size: .8rem;
    padding: 4px;
    display: block;
}
nav ul li:hover { background-color: rgba(0,0,0,0.5); }

nav ul li.active a { background-color: rgba(0,0,0,0.3); }





/******************* Main **********************/
h2.titlePage { 
    color: #176bca;
    font-family: 'Merriweather Sans';
    font-weight: bolder;
    font-size:xx-large;
    margin: 3rem 1.2rem .5rem;
}














/**>>>>>>>>>>>>>>>>> INDEX <<<<<<<<<<<<<<<<<<*/


div.homeimg { margin: 20px auto;}

div.homeimg img {
    width: 100%;
    margin: 0;
}
div.utah section {
    background-color: rgba(0, 0, 0, 0.1);
    margin: 5px auto 20px;
    padding: 20px;
    font-family: 'Catamaran';
    border-radius: 10px;
}
div.utah h2 {
    line-height: 0;
    color: #176bca;
    letter-spacing: 1px;
    font-size: larger;
}
div.utah h3 {
    font-weight: bold;
    font-style: italic;
    padding-bottom: 10px;
    font-size: large;
}
div.utah p {
    line-height: 0;
    color: #000;
}
div.utah img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.3);
}






/**<<<<<<<<<<<<<<<< Hero Section >>>>>>>>>>>>>>>>>> **/
div.heroImage img {width: 100%; }

.hero { position: relative; }

div.weatherSummary {
    /*position: absolute;
    top: .8rem;
    left: 2rem ;
    text-align: left;*/
    background-color: rgba(0, 76, 162, 0.585);
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 1px rgb(26, 26, 26);
    padding: 1rem 3rem;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.461);
    margin-top: -4px;
}
div.weatherSummary h3 {
    padding-bottom: .5rem;
    border-bottom: 2px solid rgba(0,0,0,0.5);
    margin-top: .1rem;
    font-family: 'Merriweather Sans';
    margin-bottom: .5rem;
    text-align: left;
    text-decoration-color: rgba(176, 175, 175, 0.8);
}
div.weatherSummary table { font-family: 'Catamaran', sans-serif;   }

div.weatherSummary table th { 
    text-align: left; 
    padding-right: 2rem;
}
div.weatherSummary table td {
    text-shadow: #fff;
}







/***************** 5 Day Forcast ***************/
section.fiveDayForecast { 
    display: none;
    margin: auto;
    padding:  1rem 3rem;
}
.weatherDayForecast {
    width: 5rem;
    text-align: center;
    background-color: rgba(0, 76, 162, 0.585);
    margin: auto 10px;
    border-radius: 3px;
    font-family:'Catamaran', sans-serif;
}
.weatherDayForecast img {
   max-width: 50%;
   filter: drop-shadow(0 0 5px #000);
}
.article h3,
.fiveDayForecast h3 { 
    margin-bottom: 5px; 
    font-family: 'Merriweather Sans';
    font-size: larger;
}
.weatherDayForecast h4 {
    margin: 0;
    padding: 15px;
    background-color: rgba(0, 76, 162, 0.585);
    color: rgba(255, 255, 255, 0.9);

}
.weatherDayForecast p {
    margin: 0 0 15px 0;
    font-weight: bold;
}





/***************  EVENTS ***************/

.events {
    padding: 1rem 3rem;
    background-color: rgba(0, 76, 162, 0.2);
    font-family: 'Merriweather Sans';
    border-radius: 10px;
}

.upcomingEvents {
    text-align: center;
    background-color: rgba(0, 76, 162, 0.2);
    padding: 1rem;
    max-width: 50%;
    margin: auto;
    border-radius: 10px;
}







/**************** Article **************/
.article { 
    padding:  2rem 3rem;
    background-color: rgba(0, 76, 162, 0.2);
    margin: 10px 5px;
    border-radius: 10px;
} 

.textImage p {
    font-family:'Catamaran', sans-serif;
    margin: 0;
}
.article div img {
    max-width: 100%;
    box-shadow: 0 0 15px 10px rgba(0,0,0,0.5);
} 


.article h4 {
    margin-top: 0;
    font-family:'Catamaran', sans-serif;
    color: rgb(0, 76, 162 );
}

.article a {
    margin: 0;
}




/****>>>>>>>>>>> FORM ********************/

form fieldset {
    max-width: 20rem;
    font-family: 'Catamaran';
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin: auto auto 2rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
legend {
    display: none;
}

form fieldset label {
    display: block;
}

/*** PADDING TOP */
form label.top, 
form label.sbs,
form div.top {
    padding-top: 20px;
}

/*** BORDER */
label.top input,
#storm-type,
#textarea, #region {
    display: block;
    width: 95%;
    height: 44px;
    border-radius: 5px;
    border: 2px solid #176bca;
    font-size: 16px;
    padding-left: 10px;
}
/*** REGION */
#region {
    width: 99.7%;
    height: 50px;
}
/*** CALENDAR */
.top #date {
    width: 95%;
    height: 46px;
}
/***  RATING */
.rating { 
    display: grid;
    grid-template-columns: 9fr 1fr;
}
.rating span {
    padding-left: 1rem;
}
/**** RADIO */
.radio { 
    font-size: 15px;
    padding-top: 5px;
}

/*** TEXTAREA */
#textarea {
    height: 70px;
}

/*** BUTTON */
.submitBtn {
    margin: 20px auto 30px;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-image: linear-gradient(to right, #1d5596 ,#05366e);
    border: transparent;
    border-radius: 5px;
}

.submitBtn:hover {
    box-shadow:3px 3px 6px #000;
    cursor: pointer;
    background-image: linear-gradient(to right, #176bca , #176bca);
}

/******* THANKS.HTML */
 p.thank {
    margin: auto;
    padding: 4rem;
    font-family: 'Catamaran';
    font-size: 125%;
}
/***************** */




/****>>>>>>>>>>> Gallery <<<<<<<<<<<<<*/

h2 {
    font-family: 'Catamaran';
    color: #176bca;
}

/** PROGRESSIVE IMAGES */
article.gallery img[data-src] {
	filter: blur(0.2em);
}
article.gallery img {
	filter: blur(0em);
	transition: filter 2s;
}
/**END OF PROGRESSIVE IMAGES */


main article.gallery {
    display: grid;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
}
article.gallery figcaption {
    padding: 2px 5px;
    font-family: 'Catamaran';
    font-weight: bold;
    font-size: 120%;
}
article.gallery picture {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px #000;
}
article.gallery picture:hover {
    box-shadow: 5px 5px 5px #000;
}

article.gallery picture img {
    width: 100%;
}







/****************** Footer *********************/
/*<<<<<<<< Contact Information >>>>>>>>*/
.contact {  
    background-image: linear-gradient(to right,#06366d ,#98df95 );
    padding: 20px 0;    
}

.contactTitle, .info { 
    margin-left: 3rem; 
    font-family: 'Merriweather Sans';
}
.contactTitle {
    color: #fff;
    margin-top: 0;}

.info { 
    font-family:'Catamaran', sans-serif;
    font-size: larger; 
}

.social { padding: 10px 0; }

.address img{ width: 1rem;}

.social img{ width: 2rem; padding: 10px} 

.map { display: none}

/**<<<<<<< Bar >>>>>>>>>>>> */
.bar {
    color: rgba(0,0,0,0.8);
    background-color:  #176bca;
    font-size: .9rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }


/************ iphone view ******************/
@media only screen and (min-width: 371px){

    .titleHeadings {
        margin-top: 10px;
    }
}