@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;500&family=Red+Rose:wght@300;400&display=swap");
* {
  box-sizing: border-box;
}

#css-zen-garden {
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 20rem;
  width: 100%;
  padding: 1rem;
  padding-left: 1.5rem;
  background: url(image/background.svg) top center no-repeat fixed;
  background-size: auto 110%;
  font-family: "Mulish";
  color: #086788;
}
#css-zen-garden .intro, #css-zen-garden .main {
  background: #06afd5;
  padding: 1.5rem;
  max-width: 35em;
  margin: auto;
  width: 100%;
}
#css-zen-garden .intro {
  margin-bottom: 0;
  border-radius: 8px 8px 0 0;
}
#css-zen-garden .intro header {
  background-color: #fff1d0;
  padding: 0.5rem 1rem;
  margin-left: -3rem;
  border-bottom: solid 5px #086788;
  border-right: solid 5px #086788;
  border-radius: 8px;
  background: url(image/bird.png) center right no-repeat, #fff1d0;
  background-size: 5rem;
}
#css-zen-garden .intro header h1 {
  margin-top: 0.5rem;
  margin-bottom: 0;
  padding-right: 1rem;
  color: #086788;
  font-family: "Red Rose";
  font-weight: 900;
  font-size: 150%;
}
#css-zen-garden .intro header h2 {
  font-size: 70%;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
#css-zen-garden .intro .summary p:first-child {
  font-size: 85%;
  font-style: italic;
  text-align: center;
  margin-bottom: 2rem;
  color: #fff1d0;
}
#css-zen-garden .intro .summary p:last-child {
  text-align: right;
  font-weight: bold;
  margin-bottom: 2rem;
}
#css-zen-garden .intro .summary p:last-child a, #css-zen-garden .intro .summary p:last-child a:visited {
  color: #fff1d0;
  font-weight: normal;
  text-decoration: none;
}
#css-zen-garden .intro .summary p:last-child a:hover {
  color: #fff1d0;
  background-color: #086788;
}
#css-zen-garden .intro .preamble {
  color: #fff1d0;
  margin: 1rem;
  background: #086788;
  padding: 1rem;
  border-radius: 8px;
  border-top: solid 1px #fff1d0;
  border-left: solid 1px #fff1d0;
  border-bottom: solid 5px #fff1d0;
  border-right: solid 5px #fff1d0;
  border-radius: 8px;
}
#css-zen-garden .intro .preamble p {
  font-style: italic;
}
#css-zen-garden .main {
  border-radius: 0 0 8px 8px;
  border-bottom: 5px solid #086788;
  margin-bottom: 5rem;
}
#css-zen-garden .main h3 {
  background-color: #fff1d0;
  border-bottom: solid 5px #086788;
  border-right: solid 5px #086788;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 3rem;
  font-style: italic;
}
#css-zen-garden .main p {
  padding-left: 1rem;
}
#css-zen-garden .main div a, #css-zen-garden .main div a:visited {
  color: #086788;
  text-underline-position: under;
}
#css-zen-garden .main div a:hover {
  color: #fff1d0;
  background-color: #086788;
}
#css-zen-garden footer {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
  justify-content: space-around;
  text-align: center;
}
#css-zen-garden footer a {
  color: #DD1C1A;
  background-color: #fff1d0;
  text-decoration: none;
  font-weight: bold;
  font-family: "Red Rose";
  border-radius: 50%;
  padding: 1.5rem;
  margin: 0.5rem;
  border-bottom: solid 5px #086788;
  border-right: solid 5px #086788;
}
#css-zen-garden footer a:hover {
  color: #fff1d0;
  background-color: #086788;
  border-bottom: solid 5px #fff1d0;
  border-right: solid 5px #fff1d0;
}
#css-zen-garden .sidebar {
  background-color: #086788;
  color: #fff1d0;
  padding: 0.5rem 1rem;
  margin-left: 3rem;
  border-bottom: solid 5px #fff1d0;
  border-right: solid 5px #fff1d0;
  border-radius: 8px;
}
#css-zen-garden .sidebar li {
  list-style-type: square;
  margin-bottom: 1rem;
}
#css-zen-garden .sidebar a, #css-zen-garden .sidebar a:visited {
  color: #fff1d0;
  text-decoration: none;
}
#css-zen-garden .sidebar a:hover {
  color: #fff1d0;
  background-color: #086788;
}

@media only screen and (min-width: 32em) {
  #css-zen-garden .page-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: auto auto;
    position: relative;
    max-width: 65em;
    margin: auto;
  }
  #css-zen-garden .intro, #css-zen-garden .main {
    grid-column-start: 2;
    justify-self: right;
    margin: 0;
  }
  #css-zen-garden .sidebar {
    grid-column-start: 3;
    grid-row-start: 1;
    margin-left: 0;
    font-size: 80%;
    position: absolute;
    max-width: 90%;
    background: #086788;
    color: #fff1d0;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
  }
  #css-zen-garden .sidebar a {
    color: #fff1d0;
  }
  #css-zen-garden .sidebar a .design-name {
    font-family: "Mulish";
  }
}

/*# sourceMappingURL=style.css.map */
