/******************* Body **********************/
body { margin: 0;}

#banner { 
    text-align: center;
    font-weight: bold;
    padding: 15px 0;
    background-color: rgba(238, 241, 77, 0.3);
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.461);
    font-family: 'EB Garamond', serif;
}

/******************* header **********************/
header { 
    padding: 1rem 2%;
    background-color: #98df95;
}
header h2 {margin: 0; font-weight: normal;}

.logo img {
   filter: drop-shadow(0 0 3px #000);
   float: left;
   margin: 0 2% 0 0;
}
header h1.title {
    margin: 0;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    font-family:'Catamaran', sans-serif;
}
.subTitle {
    color: rgba(0,0,0,0.8);
    font-style: italic;
    font-size: 1rem;
    font-weight: bold;
}


/***************** Navigation **********************/

nav {
    background-color: #176bca;
    display:block;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li { border-top: 2px rgb(0, 0, 0); }

.hide li { display: none; }

nav ul li:first-child { display: block;}

nav ul li a, nav ul li:first-child  {
    text-decoration: none;
    color: #fff;
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
    font-size: .8rem;
    padding: 4px;
}
nav ul li a { display: block; }

nav ul li:hover { background-color: rgba(0,0,0,0.5); }

nav ul li.active a { background-color: rgba(0,0,0,0.3); }


/******************* Main **********************/
main { margin: 20px; }

/****>>>>>>>>>>> FORM ********************/

main h2 {
    font-family: 'Catamaran';
    color: #176bca;
}


form fieldset {
    display: block;
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
    width: 100%;
}
form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #176bca;
    font-size: .8rem;
}
form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 90%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: .5rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

/**END OF PROGRESSIVE IMAGES */


main article {
    display: grid;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
}
figcaption {
    padding: 2px 5px;
    font-family: 'Catamaran';
    font-weight: bold;
    font-size: 120%;
}
article picture {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px #000;
}
article picture:hover {
    box-shadow: 5px 5px 5px #000;
}

article picture img {
    width: 100%;
}


/****************** Footer *********************/
/*<<<<<<<< Contact Information >>>>>>>>*/
.contact {  
    background-color: #98df95; 
    padding: 20px 0;     
}

.contactTitle, .info { margin-left: 3rem; }

.info { font-family:'Catamaran', sans-serif; }

.contactTitle { margin-top: 0;}

.social { padding: 10px 0; }

.address img{ width: 1rem;}

.social img{ width: 2rem; padding: 10px} 

.map { display: none}

/**<<<<<<< Bar >>>>>>>>>>>> */
.bar {
    color: rgba(0,0,0,0.8);
    background-color:  #176bca;
    font-size: .9rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }


/************ iphone view ******************/
@media only screen and (min-width: 371px){

    .titleHeadings {
        margin-top: 10px;
    }
}