/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35em){
    
    .titleHeadings  { margin: 5px 20px auto; }

    .title { font-size: 2rem; }

    .subTitle { font-size: 1.2rem;}

    .heading, #primaryNav, main, footer div {
        max-width: 750px;
        margin: 0 auto;
    }

    #primaryNav { display: flex; }

    #primaryNav li:first-child { display: none; }

    #primaryNav li {
        display: block;
        flex: 1 1 100%;
        flex-wrap: wrap;
    }
    #primaryNav li a{
        font-size: .9rem;
        padding: 1rem 0;
    }
    main section { margin: auto 0; }

    div.weatherSummary {
        top: 2rem;
        left: 2rem ;
    }
    div.weatherSummary h3 { font-size: 1.5rem;}

    div.weatherSummary table { font-size: 1.2rem; }

    
    /************ 5 day Forcast *********/
    section.fiveDayForecast {
        display: block;
    }
    .fiveDayForecast div {
        display: grid;
        grid-template-columns: repeat(6, auto);
        text-align: center;
    }
    

    /************  Article  ***************/
    .textImage p { display: block; }

    .article div p img {
        float: right;
        width: 45%;
        max-width: 98%;
        margin: 0 0 20px 20px;
        box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.5);
    } 

}