html { font-family: 'Ubuntu';}

table {
    box-shadow:  10px 10px 10px #628ca6;
    margin: 7rem auto;
}   
table, th, td {
    border: 1px solid rgb(162, 162, 162);
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    color: rgb(41, 41, 41);
}
thead tr:first-child th {
    background-color: #7fb9c2;
    font-size: 140%;
    font-weight: bold;
}
thead tr:nth-child(2) th,
tbody tr:nth-child(4) td:nth-child(3) {
    background-color: #628ca6;
    color: #fff;
}
tbody tr:nth-child(5) td:first-child { font-style: italic;}

tbody tr:nth-child(odd) { background-color: #e7f0ed;}

tbody tr:nth-child(even) { background-color: #e7ffed;}

tfoot tr:nth-last-child(1) td {
    background-color: #7fb9c2;
    font-size: 75%;
}