html {
    font-family: 'Ubuntu';
}
body { 
    margin: 0;
    width: 100%;
}
table {
    box-shadow:  10px 10px 10px #628ca6;
    margin: auto;
    margin-top: 7rem;
}   
table, th, td {
    border: 1px solid rgb(162, 162, 162);
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    color: rgb(41, 41, 41);
}
tr:first-child th {
    background-color: #7fb9c2;
    color: #000;
    font-size: 140%;
    font-weight: bold;
}
th {
    color: #fff;
    background-color: #628ca6;
    padding: 10px auto;
}
tr:nth-child(6) td:nth-child(3) {
    background-color: #628ca6;
    color: #fff;
}
tr:nth-child(7) td:first-child {
    font-style: italic;
}
tr:nth-child(odd) {
    background-color: #e7f0ed;
}
tr:nth-child(even) { background-color: #e7ffed;}
tr:nth-last-child(1) td {
    background-color: #7fb9c2;
    font-size: 75%;
}