@media  only screen and (min-width: 18.5em) {
    header, main, footer {
        max-width: 721px;
        width: 100%;
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    h1 {
        font-size: 3rem;  
    }
    
    h2 {
        font-size: 2rem;
    }
}