/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35em){
    header  {
        width: 100%;
        font-size: 150%;
        grid-template-columns: 1fr 3fr;
    }
    header button, nav button { display: none;}
    nav {
        display: block;
        width: 100%;
    }
    
    .slideshow-container {
        width: 100%;
    }
    .text {
        font-size: 1000%;
    }
    .numbertext {
        top: 4.3rem;
    }
    .prev, .next {
        top: 55%
    }
    nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
        background-color: rgba(0, 0, 0, .5);
    }
    nav ul.hide{ 
        display: block;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
        background-color: rgba(0, 0, 0, .5);
    }
    nav ul li {
        padding: 20px;
    }
    
    .advertisements {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3rem;
        margin: 6rem auto;
        background-color: #f4efea;
    }
    .advertisements p {
        margin: 0;
    }

    .sections {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .description {
        background-color: #f4efea;
        display: grid;
        align-content: center;
        font-size: 121%;
    }
    
    .event {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        grid-gap: 1rem 2%;
    }

    .event {
        margin: .5rem 1rem;
    }
    .event p{
        padding: 2rem;
        font-weight: bold;
        font-size: larger;
    }
    .logo img {
        width: 3rem;
    }






} /* End Medium */