/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35em){
    header  {
        width: 100%;
        grid-template-columns: 1fr 5fr;
    }
    
    #logo {
        width: 75%;
    }
    header button, nav button { display: none;}
    
    nav ul.hide{ 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        text-align: center;
        max-width: 565px;
    }
    .content {
        margin: auto;
    }
    .group,
    .advertisements,
    .upcomingEvents,
    .threeDaysForecast {
        max-width: 1025px;
        margin: auto;
    }
    .slideshow-container {
        width: 100%;
    }
    .text {
        font-size: 500%;
    }
    .join {
        position: absolute;
        bottom: 1rem;
        left: 0;
        padding: 1rem 2rem;
        display: grid;
        grid-template-rows: 2fr 1fr;
        margin: 0;
        font-size: 110%;
        align-items: end;
        color: #f4efea;
        background-color: rgba(0, 0, 0, 0.645);
    }
    .join-images {
        display: grid;
        align-content: center;
    }
    .advertisements div img {
        width: 45%;
        margin: 10px 2%;
    }
    .advertisements div:nth-child(even){
        flex-direction: row-reverse;
    }
    .advertisements p,
    .advertisements h3 {
        margin: 0;
        display: block;
    }

    .advertisements div.store {
        display: flex;
    }
    .advertisements div.adds {
        display: grid;
        justify-items: center;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .sections {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .description {
        background-color: #f4efea;
        display: grid;
        align-content: center;
        font-size: 121%;
        margin: auto 1rem;
    }
    
    .event {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        grid-gap: 1rem 2%;
    }

    .event {
        margin: .5rem 1rem;
    }
    .event p{
        padding: 2rem;
        font-weight: bold;
        font-size: larger;
    }
    .logo img {
        width: 3rem;
    }
    .weatherSummary {
        margin: 5rem auto;
        background-color: #f4efea;
        box-shadow: none;
        font-size: 150%;
    }
    .weatherSummary div#top {
        align-items: center;
    }
    
    .tableForecast {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        text-align: center;
        max-width: 780px;
        margin: auto;
        grid-gap: 1rem;
    }
    
    form fieldset:hover,
    .mainjoin fieldset:hover {
      box-shadow: #000 0 0 10px;
    }



    /*****************  Contact Information *********************/
    .contact{
        font-size: 120%;
    }
      /*************** FORM ************/
      .contactform .contactpic img{
          width: 100%;
      }
      .contactUs {
          margin: 2rem 0;
      }
      .contactpic {
          display: none;
      }
    .contactform {
        display: block;
    }

      form fieldset {
        border: 2px solid rgba(0, 0, 0, 0.25);
        box-shadow: 0 0 3px 1px rgba(0, 0, 0, .5);
        padding-inline: 40px;
        padding-top: 20px;
    }
        
    legend {
        display: block;
        padding: 5px;
        font-size: 16px;
    }


    } /* End Medium */