* {box-sizing: border-box}
body {
  margin: 0; 
  width: 100%;
  background-color: #FFF;
  font-family: 'Mulish';
}

/********************** Banner  ************************/
ul.alert {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li.banner {
  border: 1px solid #ddd;
  margin: auto;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: rgb(160, 23, 23);
  font-weight: 900;
  display: block;
  position: relative;
}

ul li.banner:hover {
  background-color: #eee;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-weight: 900;
  color: rgb(160, 23, 23);
  border: rgb(160, 23, 23) solid 2px;
  border-radius: 20px;
  right: 0%;
  padding: 5px 10px;
  margin-right: 1rem;
  transform: translate(0%, -50%);
}

.close:hover {background: #F4EFEA;}.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
  max-width: 1025px;
}


/* Width of 100%*/
.slideshow-container img,
.advertisements img,
.join-images img {
  width: 100%;
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: .5}
}

@keyframes fade {
  from {opacity: .3} 
  to {opacity: 1}
}
/****************** Header ****************************/
header {
  background-image: linear-gradient(to top,  #14177D, #1E22FF, #14177D);

}
.header {
  padding: 30px 20px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  justify-items: center;
  z-index: 1;
  width: 100%;
  margin: auto;
}
.header div#logo img {
  width: 100%;
}
.design {
  width: 10px;
  margin-bottom: 10px;
  text-shadow: #000 2px 2px 8px;
}
.header h1 {
  color: #F4EFEA;
  text-shadow: #000 2px 2px 8px;
  font-family: 'Mulish';
  font-weight:900;
  margin: 0;
  margin-left: 1rem 5%;
  font-weight: normal;
}
#subtitle {
  color: #F4EFEA;
  text-shadow: #000 2px 2px 8px;
  font-family: 'Mulish';
}
#title {
  margin: auto 5px;
  position: relative;
  width: 100%;
}

/******************** Navigation *****************************/
nav {
  font-family: 'Mulish';
  background-color: #0e6e3e;
  margin: 0;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li a {
  text-decoration: none;
  color: #F4EFEA;
  display: block;
  padding: 1rem;
}
ul#primaryNav.hide{
  justify-content: end;
  margin: auto;
  margin-right: 2rem;
}
nav ul li {
  display: block;
}
nav ul li.active { 
  background-color: #1E22FF; 
  box-shadow: #f4efeA 2px 2px 0;
}
nav ul li a:hover {
  background-color: #F4EFEA;
  text-decoration: underline #0e6e3e 2px;
  text-underline-position: under;
  transition: .5s;
  color: #0e6e3e;
  font-weight: bold;
  cursor: pointer;
}
nav ul.hide { display: none;}
.menu-toggle, .close-toggle {
  color: #F4EFEA;
  text-align: center;
  align-items: center;
  border: none;
  font-size: 1rem;
  width: 35px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: #000 2px 2px 8px;
  background-color:   #0e6e3e;
}

.sticky {
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

#clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Current Weather */
.weatherSummary {
  display: grid;
  justify-items: center;
  margin: 1rem auto;
  width: 100%;
  align-content: center;
  border-radius: 10px;
}
.weatherSummary #top, 
.weatherSummary #bot{
  padding:  1rem 2rem;
}
.weatherSummary div#top {
  display: flex;
}
#currentimg {
  padding: 0 30px 0 0;
  text-align: justify;
  background-image: linear-gradient(to left, #14177D, #0e6e3e);
  border-radius: 10px;
  margin-right: 10px;
}
#currentimg img {
  width: 150%;
}
#cen div {
  font-weight: bolder;
  font-size: larger;
}
#cen div:first-child {
  font-size: 250%;
}
#bot {
  font-size: larger;
  font-weight: bold;
}
#bot span {
  text-align: right;
}



/****************** Advertisements ************************/

.advertisements p {
  text-align: center;
  margin: 5px auto 30px;
}
.advertisements div.store{
  margin: 1rem;
  padding: 2rem;
  background-color: #0e6e3e20;
  border-radius: 10px;
  box-shadow: #000 0 0 8px;
  text-align: center;
}
.advertisements img {
  border-radius: 10px;
  box-shadow: #000 0 0 8px;
}

/**************** Join the Chamber! *************************/
.mainjoin {
  max-width: 1025px;
  margin: auto;
}
.mainjoin form.table {
  overflow-x: auto;
}
table.membership {
  border-collapse: collapse;
  border: #ccc solid 2px;
  text-align: center;
  max-width: 1025px;
  margin: 1rem auto 5rem;
}
table.membership th,
table.membership td {
  padding: .5rem .3rem;
}
table.membership td {
  border: #ccc solid 1px;
}
table.membership 
tr:first-child 
th:first-child{
  background-image: linear-gradient(to left, #14177D, #0e6e3e);
  color: #f4efeA;
}
table.membership tr:nth-child(2) {
  background-color: #0e6e3e50;
}
table.membership td:first-child {
  color: #0e6e3e;
  text-align: end;
}
table.membership tr:nth-child(3)  {
  background-color: #0452ac60;
  font-size: smaller;
}
table.membership tr:nth-child(2) th {
  width: 10rem;
}
table.membership i {
  color: #0e6e3e;
}
.join-images {
  display: grid;
  justify-items: center;
}
.join div {
  grid-area: 2/1;
}
.join h2 { 
  margin: 0;
}
.join {
    margin: 2rem 1rem ;
    position: static;
    background-color: #0e6e3e50;
    padding: 2rem;
}
.button {
  left: 20px;
  background-image: linear-gradient(to left, #14177D, #0e6e3e);
  box-shadow: #000 2px 2px 8px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
.button a{
  text-decoration: none;
  color: #F4EFEA;
}
div.sections{
  margin: 5rem auto;
}

/* Descirptiom & Upcoming Events & 3 Days Forcast**/
.description, 
.upcomingEvents,
.threeDaysForecast,
.weatherDayForecast {
  margin: 1rem auto;
  padding: 1rem;
}

.join-images {
  margin: 1rem auto;
}

/** Upcomming Evnts **/
.upcomingEvents p {
  background-image: linear-gradient(to left, #0e6e3e, #f4efeA);
  padding: .5rem;
  border-radius: 50px;
}
.logo img{
  width: 2.5rem;
}
.event {
  display: grid;
}
div.upcomingEvents {
  margin: 5rem auto;
}

/** 3 Days Forecast **/
section.threeDaysForecast{
  margin: 5rem auto;
}
.tableForecast {
  display: block;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  text-align: center;
  max-width: 780px;
  margin: auto;
  grid-gap: 1rem;
}
.weatherDayForecast{
  padding: auto .5rem;
  width: 10rem;
}
#icon2,
#icon3,
#icon1 {
  background-image: linear-gradient(to left, #14177D, #0e6e3e);
  border-radius: 10px;
}
.dayforecast {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

}
.weatherDayForecast h3,
.weatherDayForecast p {
  margin: 0;
  text-align: center;
}
.weatherDayForecast p {
  font-size: larger;
  font-weight: bold;
}

.weatherDayForecast {
  border-radius: 10px;
  background-color: #0e6e3e20;
  box-shadow: #000 0 0 8px;
}






/******************  Contact Information ***********************************/
.contact {
  background-color: #0e6e3e;
  margin: auto;
  background: url(../images/calapan.jpg) bottom no-repeat;
  background-attachment: fixed;
  display: grid;
  align-items: center;
  justify-items: center;
}
.contacts {
  background-color: #F4EFEA99;
  font-family: 'Mulish';
  padding: 1rem;
  max-width: 1025px;
  margin: 0;
}
.contactUs h2{
  display: none;
}
.contactUs {
  margin: 5rem auto;
}
.contactus {
  background-color: #F4EFEA95;
}
.contactpic {
  display: none;
  position: relative;
}
.contactpic h2 {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 250%;
  color: #f4efeA;
  text-shadow: #000 0 0 10px;
}
iframe {
  width: 100%;
}
.contact h2, .contact div, .social {
  margin: 1rem;
}
.social {
  display: end;
}

/** Signature ***/
.signature {
  background-image: linear-gradient(to left, #14177D, #1E22FF);
}
div.barContent {
  max-width: 1025px;
  margin: auto;
  padding: 1rem;
  font-family: 'Texturina';
  text-align: center;
  color: #F4EFEA;
}



form fieldset {
  max-width: 25rem;
  font-family: 'Mulish';
  background-color: #F4EFEA;
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  margin: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
legend {
  display: none;
}

form fieldset label {
  display: block;
}

/*** PADDING TOP */
form label.top, 
form label.sbs,
form div.top {
  padding-top: 20px;
}

/*** BORDER */
label.top input,
#storm-type,
#textarea, #region {
  display: block;
  width: 95%;
  height: 44px;
  border-radius: 5px;
  border: 2px solid #176bca;
  font-size: 16px;
  padding-left: 10px;
}

/*** TEXTAREA */
#textarea {
  height: 70px;
}

/*** BUTTON */
.submitBtn {
  margin: 20px auto 30px;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-image: linear-gradient(to right, #1d5596 ,#05366e);
  border: transparent;
  border-radius: 5px;
}

.submitBtn:hover {
  box-shadow:3px 3px 6px #000;
  cursor: pointer;
  background-image: linear-gradient(to right, #176bca , #176bca);
}

/******* THANKS.HTML */
.thanks {
  margin: auto;
  max-width: 1025px;
  padding: 4rem;
  font-family: 'Mulish';
  font-size: 125%;
}
/***************** */








/**************************** City *******************************/
.cityimg {
  height: 20rem;
  background: url(../images/calapan1.jpg) top no-repeat;
  background-attachment: fixed;
  
}
.briefhistory {
  margin: 5rem auto;
  max-width: 1025px;
}
.briefhistory h2,
.briefhistory h3,
.briefhistory p {
  margin: 1rem;
}
img.statu, img.farm {
  width: 40%;
}
/** PROGRESSIVE IMAGES */
article.gallery img[data-src] {
	filter: blur(0.2em);
}
article.gallery img {
	filter: blur(0em);
	transition: filter 2s;
  width: 100%;
}
/**END OF PROGRESSIVE IMAGES */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  max-width: 1025px;
  grid-gap: 3rem 1rem;
  margin: 5rem auto;
  justify-items: center;
}
.gallery picture {
  box-shadow: #000 0 0 8px;
  border-radius: 10px;
}
.gallery picture img  {
  
  border-radius: 10px 10px 0 0;
}
.gallery picture:hover {
box-shadow: #000 10px 10px 20px;
}
.gallery picture figcaption{
  padding: .5rem;
}
.maincity h2.attraction {
  margin-left: 1rem;
}

/******** Join *****************************/
.mainjoin {
  margin: 5rem auto;
}
.imagelogoform {
  text-align: center;
  font-family: 'Mulish';
  color: #F4EFEA;
  letter-spacing: 2px;
  background-image: linear-gradient(to top, #14177D, #1E22FF);
  padding: 1rem;
  border-radius: 10px;
  margin-right: 1rem; 
}

/**************************** Directory ******************************/
.directorypic{
  background: url(../images/directoryimg.jpg) #f4efeA center no-repeat;
  background-attachment: fixed;
  height: 20rem;
  background-size: cover;
}
.buttons {
  text-align: center;
  margin: 5rem;
}
.buttons button {
  padding: .5rem;
  font-size: larger;
  background-color: #0e6e3e;
  color: #f4efeA;
  border: none;
  margin: .5rem;
  border-radius: 5px;
}
.buttons button:hover {
  color: #0e6e3e;
  box-shadow: #000 5px 5px 8px;
  background-color: #f4efeA;
}

/******* List ***********/
.card {
  background-color: #0e6e3e20;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  max-width: 780px;
  justify-items: center;
  align-items: center;
}
.directorylogo {
  width: 100%;
}
.directorystore {
  width: 100%;
}
.directorystore h2, 
.directorystore p {
  margin: .5rem auto;
}
.directory img {
  background-color: #0e6e3e;
  width: 100%;
  border-radius: 10px;
  box-shadow: #000 0 0 8px;
}
.directory a{
  text-decoration: none;
  color: #f4efeA;
}
.directory button{
  padding: 4px 8px;
  background-image: linear-gradient(to bottom, #f4efeA, #0e6e3e);
  border: none;
  box-shadow: #000 0 0 8px;
}
.directory button:hover {
  background-image: linear-gradient(to top, #f4efeA, #0e6e3e);
  box-shadow: #000 2px 2px 8px;
}
